/*!
 * CP CUSTOM STYLE
 * Copyright 2017
 * 
 * Main CSS file for Control Plane front end
 * 
 * Author : Justin Campbell
 */

 .pagestyle {
	background-color: lightgrey;
}

.headerbox {
	margin: 20px;
	padding: 10px;
	border: 2px solid lightgrey;
	width: 1350px;
	height: 90px;
	position: absolute;
	top: -18px;
}

.backimage {
	background-image: url("img/serverroom.jpg");
	background-size: 1350px 90px;
	background-position: 0%0%;
}

.navbox {
	position: absolute;
	top: 94px;
	left: 10px;
	margin: 20px;
	padding: 10px;
	width: 198px;
	height: 1000px;
	background-color: #088A68;
}

.cenbox {
	position: absolute;
	top: 94px;
	left: 228px;
	margin: 20px;
	padding: 10px;
	width: 1132px;
	height: 1000px;
	background-color: #A4A4A4;
}

.footbox {
	margin: 20px;
	padding: 10px;
	width: 1350px;
	height: 51px;
	position: absolute;
	left: 10px;
	bottom: -409px;
	background-color: #088A68;
}

.postleft {
	color: white;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
	left: 70px;
	top: 40px;
}

.postright {
	color: white;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
	left: 1140px;
	top: 40px;
}

.postcenter {
	color: white;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
	left: 650px;
	top: 40px;
}

.box1 {
	margin: 20px;
	padding: 10px;
	width: 300px;
	height: 300px;
	position: absolute;
	top: -18px;
	left: -15px;
	background-color: #9F9090;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box2 {
	margin: 20px;
	padding: 10px;
	width: 500px;
	height: 300px;
	position: absolute;
	top: -18px;
	left: 306px;
	background-color: #2E2E2E;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box3 {
	margin: 20px;
	padding: 10px;
	width: 280px;
	height: 300px;
	position: absolute;
	top: -18px;
	left: 827px;
	background-color: #5F4C0B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box4 {
	margin: 20px;
	padding: 10px;
	width: 700px;
	height: 300px;
	position: absolute;
	top: 304px;
	left: -15px;
	background-color: #240B3B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box5 {
	margin: 20px;
	padding: 10px;
	width: 401px;
	height: 300px;
	position: absolute;
	top: 304px;
	left: 706px;
	background-color: #240B3B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box6 {
	margin: 20px;
	padding: 10px;
	width: 401px;
	height: 350px;
	position: absolute;
	top: 626px;
	left: -15px;
	background-color: #240B3B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box7 {
	margin: 20px;
	padding: 10px;
	width: 401px;
	height: 350px;
	position: absolute;
	top: 626px;
	left: 408px;
	background-color: #240B3B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.box8 {
	margin: 20px;
	padding: 10px;
	width: 277px;
	height: 350px;
	position: absolute;
	top: 626px;
	left: 830px;
	background-color: #240B3B;
	/* background-image: url("img/cloudpadlock.png"); */
	background-size: 100px 100px;
	background-position: 0%0%;
}

.boxtxt {
	font-size: 50%;
	font-style: bold;
	color: grey;
}
